# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env

# Flask-SQLAlchemy/SQLAlchemy database files
*.db
*.sqlite3

# Ignore local instance folder
instance/

# Ignore environment variable files
.env
.venv/

# Ignore compiled files
*.pyc

# Ignore virtual environment
venv/

# Ignore migrations folder if not using Flask-Migrate
# Uncomment the next line if you don't want to track migrations (not recommended)
# migrations/

# Ignore specific IDE or editor files
.vscode/
.idea/

# Logs and databases
*.log
*.pot
*.pid
*.gz
*.db

# Ignore uploaded files in development
uploads/

# Ignore all files in the uploads directory
static/uploads/*

# Ensure the uploads directory itself is tracked
!static/uploads/.gitkeep