# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# SQLite Database
*.db

# Migrations
migrations/

# Pytest
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

.vscode
website/__pycache__
website/database.db
