alembic==1.13.2
aniso8601==9.0.1
attrs==24.2.0
blinker==1.8.2
click==8.1.7
dnspython==2.6.1
email_validator==2.2.0
Flask==3.0.3
Flask-DebugToolbar==0.15.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.0.7
flask-restx==1.3.0
Flask-Script==2.0.6
Flask-SQLAlchemy==3.1.1
Flask-Uploads==0.2.1
Flask-WTF==1.2.1
idna==3.7
importlib_metadata==8.0.0
importlib_resources==6.4.4
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
Mako==1.3.5
MarkupSafe==2.1.5
packaging==24.1
pillow==10.4.0
python-dotenv==1.0.1
pytz==2024.1
referencing==0.35.1
rpds-py==0.20.0
SQLAlchemy==2.0.31
typing_extensions==4.12.2
Werkzeug==3.0.3
WTForms==3.1.2
zipp==3.19.2
gunicorn>=20.0.0
Flask-Mail==0.10.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-WTF==1.2.1
flask-restx==1.3.0
pytz==2024.1
transformers
torch==2.4.0
apscheduler==3.9.1.post1
better_profanity==0.7.0
Pillow==10.4.0
requests==2.31.0

